.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding-inline: 0.75rem; */
}

@media (min-width: 600px) {
  .container {
    /* padding-inline: 1.5rem; */
  }
}

@media (min-width: 900px) {
  .container {
    gap: 3rem;
    /* padding-inline: 3rem; */
  }
}
