.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: var(--radius-md);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-transform: uppercase;
  width: auto;
  background-color: transparent;
  color: inherit;
  box-shadow: var(--shadow-soft);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-btn-text);
}

.primary:hover {
  background-color: var(--color-primary-dark);
  box-shadow: var(--shadow-medium);
  transform: scale(1.05);
}

.primary:active {
  background-color: var(--color-primary-darker);
  transform: scale(1);
  box-shadow: var(--shadow-soft);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-btn-text);
}

.secondary:hover {
  background-color: var(--color-secondary-dark);
  box-shadow: var(--shadow-medium);
  transform: scale(1.05);
}

.secondary:active {
  background-color: var(--color-secondary);
  transform: scale(1);
  box-shadow: var(--shadow-soft);
}

.sm {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.md {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .button {
    width: 100%;
    font-size: 0.875rem;
    padding: 0.5rem 1.25rem;
  }
}

.fullWidth {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
