.container {
  /* padding: 2rem; */
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

/* desktop layout */
.searchField {
  flex: 2; /* search takes more space */
  min-width: 280px;
}

.smallSelect {
  flex: 1; /* small selects */
  min-width: 160px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .searchField,
  .smallSelect {
    flex: 100%;
    min-width: 100%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.pageButton {
  padding: 0.5rem 0.8rem;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  background: var(--color-card);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pageButton:hover {
  background: var(--color-primary);
  color: var(--color-btn-text);
  border-color: var(--color-primary);
}

.pageButton.active {
  background: var(--color-primary);
  color: var(--color-btn-text);
  border-color: var(--color-primary);
  font-weight: bold;
}

.pageButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading {
  text-align: center;
  margin-top: 2rem;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.statusColumn {
  width: 100px;
  text-align: center;
}
.statusPill {
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  min-width: 60px;
}

.statusActive {
  background-color: #d1fae5;
  color: #065f46;
}

.statusBlocked {
  background-color: #fee2e2;
  color: #b91c1c;
}

.actionCell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
