.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
  /* outline: 1px solid red !important; */
}

.main {
  flex: 1;
  padding: 1.75rem;
}

@media (min-width: 768px) {
  .main {
    padding: 2.5rem;
  }
}
@media (min-width: 900px) {
  .main {
    padding: 3rem 4rem;
  }
}
